@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

html{
	font-size: 62.5%;
}
body{	
	font-size: 1.6rem; 
	font-weight: 400;
	background: #0F3029;
}
h1,h2,h3,h4,h5,h6,p{
	margin: 0;
	padding: 0;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
ul li a,a{
	text-decoration: none;
}
/*======================  Start Page  ======================*/

.contest_shape img {
	width: 100%;
}






/*======================  End Page  ======================*/



/* 
font-family: "Passion One", serif;
font-family: 'Super Comic';
 */
